<html>
    <head>
        <title>
            <%= title %>
        </title>
        <body>
            <link rel="stylesheet" href="/Express/Contactlist/assests/css/home.css">
            <h1>Contact List</h1>
            <div>
                <ul>
                    <% for(let i of contact_list){%>
                        <li>
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                           <a href="/delete_contact/?id=<%= i._id %>"><button>Del</button> </a>
                        </li>
                    <%}%>
                </ul> 
            </div>
            <form action="/create-contact" method="POST" >
                <input type="text" name="name" placeholder="Enter name" required>
                <input type="number" name="phone" placeholder="Enter Phone" required>
                <button type="submit">Add Contact</button>
            </form>
            <script  src="/Express/Contactlist/assests/js/home.js"></script>
        </body>
      
    </head>
</html>